openapi: 3.0.3
info:
  title: Swagger Argen Bank
  description: Site argen bank
  contact:
    email: apiteam@swagger.io
  version: 1.0.0
servers:
  - url: https://argent-banck.fr/api/
tags:
  - name: transaction
    description: all for transaction
paths:
  /transaction:
    get:
      tags:
        - transaction
      summary: Finds Pets by status
      description: Multiple status values can be provided with comma separated strings
      parameters:
        - name: status
          in: query
          description: Status values that need to be considered for filter
          required: false
          explode: true
          schema:
            type: string
            default: available
            enum:
              - available
              - pending
              - sold
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'          
          
        '400':
          description: Invalid status value
     
    post:
      tags:
        - transaction
      summary: test
      description: test
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction' 
    # post:
    #   tags:
    #     - transaction
    # summary: ttes s
    # description: test
    # responses:
    #     '200':
    #       description: Successful operation
    #       content:
    #         application/json:
    #           schema:
    #             $ref: '#/components/schemas/Transaction' 
components:
  schemas:
    Transaction:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        quantity:
          type: integer
          format: int32
          example: 7
        shipDate:
          type: string
          format: date-time
        status:
          type: string
          description: Order Status
          example: approved
          enum:
            - placed
            - approved
            - delivered
        complete:
          type: boolean
    